@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 143 69% 17%;
    --foreground: 120 100% 95%;
    --card: 143 60% 22%;
    --card-foreground: 120 100% 95%;
    --popover: 143 60% 22%;
    --popover-foreground: 120 100% 95%;
    --primary: 90 58% 66%;
    --primary-foreground: 143 69% 10%;
    --secondary: 143 60% 25%;
    --secondary-foreground: 120 100% 95%;
    --muted: 143 60% 25%;
    --muted-foreground: 120 40% 80%;
    --accent: 90 58% 66%;
    --accent-foreground: 143 69% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 143 60% 25%;
    --input: 143 60% 25%;
    --ring: 90 58% 66%;
    --chart-1: 90 58% 66%;
    --chart-2: 120 40% 80%;
    --chart-3: 195 53% 79%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 143 69% 15%;
    --sidebar-foreground: 120 100% 95%;
    --sidebar-primary: 90 58% 66%;
    --sidebar-primary-foreground: 143 69% 10%;
    --sidebar-accent: 143 60% 22%;
    --sidebar-accent-foreground: 120 100% 95%;
    --sidebar-border: 143 60% 20%;
    --sidebar-ring: 90 58% 66%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 140 70% 80%;
    --card: 143 80% 8%;
    --card-foreground: 140 70% 80%;
    --popover: 143 80% 8%;
    --popover-foreground: 140 70% 80%;
    --primary: 140 70% 40%;
    --primary-foreground: 0 0% 98%;
    --secondary: 140 30% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 140 20% 10%;
    --muted-foreground: 140 30% 60%;
    --accent: 140 70% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 20% 15%;
    --input: 140 20% 15%;
    --ring: 140 70% 40%;

    --sidebar-background: 0 0% 4%;
    --sidebar-foreground: 140 40% 95%;
    --sidebar-primary: 140 70% 40%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 140 20% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 140 10% 10%;
    --sidebar-ring: 140 70% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
