@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 210 40% 10%;
    --card: 210 40% 100%;
    --card-foreground: 210 40% 10%;
    --popover: 210 40% 100%;
    --popover-foreground: 210 40% 10%;
    --primary: 205 78% 35%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 10%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45%;
    --accent: 210 40% 94.1%;
    --accent-foreground: 210 40% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 90%;
    --input: 210 40% 92%;
    --ring: 205 78% 45%;
    --chart-1: 205 70% 50%;
    --chart-2: 195 60% 55%;
    --chart-3: 185 50% 65%;
    --chart-4: 175 50% 75%;
    --chart-5: 165 50% 85%;
    --radius: 0.8rem;

    --sidebar-background: 210 30% 12%;
    --sidebar-foreground: 210 25% 95%;
    --sidebar-primary: 200 80% 70%;
    --sidebar-primary-foreground: 210 60% 10%;
    --sidebar-accent: 210 30% 20%;
    --sidebar-accent-foreground: 210 25% 95%;
    --sidebar-border: 210 30% 18%;
    --sidebar-ring: 200 80% 70%;
  }

  .dark {
    --background: 210 25% 12%;
    --foreground: 210 30% 90%;
    --card: 210 25% 16%;
    --card-foreground: 210 30% 90%;
    --popover: 210 25% 10%;
    --popover-foreground: 210 30% 90%;
    --primary: 200 75% 60%;
    --primary-foreground: 200 20% 10%;
    --secondary: 210 25% 22%;
    --secondary-foreground: 210 30% 90%;
    --muted: 210 25% 22%;
    --muted-foreground: 210 20% 60%;
    --accent: 210 25% 25%;
    --accent-foreground: 210 30% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 25% 25%;
    --input: 210 25% 22%;
    --ring: 200 75% 65%;

    --sidebar-background: 210 25% 10%;
    --sidebar-foreground: 210 30% 90%;
    --sidebar-primary: 200 75% 60%;
    --sidebar-primary-foreground: 200 20% 10%;
    --sidebar-accent: 210 25% 15%;
    --sidebar-accent-foreground: 210 30% 90%;
    --sidebar-border: 210 25% 13%;
    --sidebar-ring: 200 75% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
