@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 60% 97%;
    --foreground: 240 10% 3.9%;
    --card: 120 60% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 120 60% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 130 53% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 53% 79%;
    --secondary-foreground: 195 53% 19%;
    --muted: 120 20% 94%;
    --muted-foreground: 240 5% 65%;
    --accent: 90 58% 66%;
    --accent-foreground: 90 58% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 83%;
    --input: 0 0% 83%;
    --ring: 130 53% 42%;
    --chart-1: 130 53% 42%;
    --chart-2: 90 58% 66%;
    --chart-3: 195 53% 79%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 130 53% 38%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 90 58% 66%;
    --sidebar-primary-foreground: 90 58% 6%;
    --sidebar-accent: 130 53% 48%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 130 53% 34%;
    --sidebar-ring: 90 58% 66%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 130 53% 42%;
    --primary-foreground: 0 0% 98%;
    --secondary: 195 53% 29%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 65%;
    --accent: 90 58% 66%;
    --accent-foreground: 90 58% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 130 53% 42%;

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 90 58% 66%;
    --sidebar-primary-foreground: 90 58% 6%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 90 58% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
