@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 25% 25%;
    --card: 210 40% 100%;
    --card-foreground: 215 25% 25%;
    --popover: 210 40% 100%;
    --popover-foreground: 215 25% 25%;
    --primary: 170 60% 40%;
    --primary-foreground: 170 20% 98%;
    --secondary: 180 30% 94%;
    --secondary-foreground: 180 20% 25%;
    --muted: 180 30% 96%;
    --muted-foreground: 180 20% 45%;
    --accent: 180 30% 92%;
    --accent-foreground: 180 20% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 90%;
    --input: 180 20% 94%;
    --ring: 170 60% 45%;
    --chart-1: 170 60% 40%;
    --chart-2: 180 50% 55%;
    --chart-3: 190 50% 65%;
    --chart-4: 200 50% 75%;
    --chart-5: 210 50% 85%;
    --radius: 0.8rem;

    --sidebar-background: 195 30% 15%;
    --sidebar-foreground: 200 15% 95%;
    --sidebar-primary: 175 80% 80%;
    --sidebar-primary-foreground: 180 60% 10%;
    --sidebar-accent: 195 30% 22%;
    --sidebar-accent-foreground: 200 15% 95%;
    --sidebar-border: 195 30% 20%;
    --sidebar-ring: 175 80% 80%;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 19%;
    --card-foreground: 210 40% 98%;
    --popover: 220 30% 12%;
    --popover-foreground: 210 40% 98%;
    --primary: 170 60% 50%;
    --primary-foreground: 170 20% 10%;
    --secondary: 215 28% 22%;
    --secondary-foreground: 210 40% 98%;
    --muted: 215 28% 25%;
    --muted-foreground: 215 15% 65%;
    --accent: 215 28% 28%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 28%;
    --input: 215 28% 25%;
    --ring: 170 60% 50%;

    --sidebar-background: 220 30% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 170 60% 50%;
    --sidebar-primary-foreground: 170 20% 10%;
    --sidebar-accent: 220 30% 15%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 30% 13%;
    --sidebar-ring: 170 60% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
