@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 200 30% 98%;
    --foreground: 200 20% 25%;
    --card: 200 30% 100%;
    --card-foreground: 200 20% 25%;
    --popover: 200 30% 100%;
    --popover-foreground: 200 20% 25%;
    --primary: 170 60% 35%;
    --primary-foreground: 170 20% 98%;
    --secondary: 180 50% 96%;
    --secondary-foreground: 180 30% 25%;
    --muted: 180 30% 97%;
    --muted-foreground: 180 20% 45%;
    --accent: 175 60% 94%;
    --accent-foreground: 175 40% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 30% 90%;
    --input: 180 30% 94%;
    --ring: 170 60% 45%;
    --chart-1: 170 60% 40%;
    --chart-2: 180 50% 55%;
    --chart-3: 190 50% 65%;
    --chart-4: 200 50% 75%;
    --chart-5: 210 50% 85%;
    --radius: 0.8rem;

    --sidebar-background: 200 25% 15%;
    --sidebar-foreground: 200 15% 95%;
    --sidebar-primary: 175 80% 80%;
    --sidebar-primary-foreground: 180 60% 10%;
    --sidebar-accent: 200 25% 22%;
    --sidebar-accent-foreground: 200 15% 95%;
    --sidebar-border: 200 25% 20%;
    --sidebar-ring: 175 80% 80%;
  }

  .dark {
    --background: 210 25% 12%;
    --foreground: 210 30% 90%;
    --card: 210 25% 15%;
    --card-foreground: 210 30% 90%;
    --popover: 210 25% 10%;
    --popover-foreground: 210 30% 90%;
    --primary: 170 50% 50%;
    --primary-foreground: 170 20% 10%;
    --secondary: 200 25% 20%;
    --secondary-foreground: 200 30% 90%;
    --muted: 200 25% 22%;
    --muted-foreground: 200 20% 60%;
    --accent: 200 25% 25%;
    --accent-foreground: 200 30% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 25% 25%;
    --input: 200 25% 22%;
    --ring: 170 50% 55%;

    --sidebar-background: 210 25% 10%;
    --sidebar-foreground: 210 30% 90%;
    --sidebar-primary: 170 50% 50%;
    --sidebar-primary-foreground: 170 20% 10%;
    --sidebar-accent: 210 25% 15%;
    --sidebar-accent-foreground: 210 30% 90%;
    --sidebar-border: 210 25% 13%;
    --sidebar-ring: 170 50% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
